HF_TOKEN=your_huggingface_token_here
MODEL_NAME=Qwen/Qwen2.5-1.5B-Instruct:featherless-ai

CHROMA_API_KEY=your_chroma_cloud_token_here
CHROMA_DB_DIR=./data/chroma
CHROMA_TENANT=default
CHROMA_DATABASE=default

JIRA_BASE_URL=your_jira_instance_url_here
JIRA_USERNAME=your_jira_email_here
JIRA_API_TOKEN=your_jira_api_token_here
JIRA_PROJECT_KEY=KAN

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT=agentic-crm-support

MAX_RETRIES=2